.tutorialPartsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 35px;
  width: calc(100% - 70px);
  height: 100%;
}

.tutorialPartsDescription h2 {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 500;
}

.tutorialPartsContainer > p {
  margin: 0;
  text-align: center;
}

.tutorialPartsDescription .description {
  text-align: center;
}

.partContainer {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.tutorialPartsContainer .partContainer.swiper-slide-active .partBackground {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.tutorialPartsContainer .partBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background: var(--black);
  border: 2px var(--primary-color) solid;
  border-radius: 16px;
  width: 70%;
  height: 174px;
  transition: .6s;
  opacity: .5;
}

.tutorialPartsContainer .partContainer h3 {
  margin: 15px 0;
  color: var(--primary-color);
}

.tutorialPartsContainer .partContainer img {
  width: 120px;
}

.tutorialPartsContainer .partDescription {
  display: flex;
  opacity: 0;
  align-items: center;
  color: var(--white);
  padding: 5px;
  font-size: 13px;
  height: 61px;
  margin: 0;
}

.tutorialPartsContainer .partContainer.swiper-slide-active .partDescription {
  opacity: 1;
}