.tutorialContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(100% - 70px);
  height: 100%;
  padding: 0 35px;
}

.tutorialContainer h2 {
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.tutorialContent {
  display: flex;
  justify-content: space-around;
}

.tutorialContent p {
  display: flex;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
  max-width: 45%;
  margin: 0;
}

.tutorialDescription {
  margin: 0;
  text-align: center;
}

.movementCommands {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movementCommands img {
  width: 14px;
}

.movementCommands .bottom {
  transform: rotate(90deg);
}

.movementCommands .left {
  transform: rotate(180deg);
}

.movementCommands .top {
  transform: rotate(270deg);
}


/* MOBILE */

@media (max-width: 660px) {
  .tutorialContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
  }
}