.copyrightText {
  font-size: 10px;
  text-align: center;
  width: 100%;
}

.footerContainer {
  width: calc(100% - 70px);
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prevPage, .nextPage {
  display: flex;
  font-size: 30px;
}

.prevPage.active, .nextPage.active {
  cursor: pointer;
}

.footerLink {
  display: flex;
  text-decoration: none;
  color: var(--black);
}

.footerContainer img {
  width: 30px;
}

.prevPage img {
  transform: rotate(180deg);
}

.navigatorContainer {
  display: flex;
  align-items: center;
  gap: 7px;
}

.navigatorContainer .page {
  width: 10px;
  height: 10px;
  background: #0000003d;
  border-radius: 50%;
  cursor: pointer;
}

.page.active {
  background: var(--black);
}