.tutorialConatiner {
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}

.tutorialConatiner h2 {
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.tutorialContent {
  display: flex;
  justify-content: space-between;
}

.tutorialContent p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 45%;
  margin: 0;
}

.tutorialDescription {
  margin: 0;
  text-align: center;
}