.tutorialStepContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 35px;
  width: calc(100% - 70px);
  height: 73%;
}

@media (max-height: 1100px) {
  .tutorialStepContainer {
    height: auto;
  }
}

.tutorialStepContainer .tutorialStepDescription h2 {
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.tutorialStepContainer .tutorialStepDescription p {
  text-align: center;
}

.tutorialStepContainer .swiper-container {
  height: 500px;
  background: var(--black);
  border: var(--primary-color) 2px solid;
  border-radius: 16px;
  padding: 20px;
  overflow: hidden;
}

.tutorialStepContainer .partContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.tutorialStepContainer .partBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  transition: .6s;
  opacity: .5;
  background: var(--white);
  border: var(--primary-color) 2px solid;
  border-radius: 16px;
  position: relative;
  width: 60%;
  height: 60%;
}

.tutorialStepContainer .partContainer h3 {
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.tutorialStepContainer .partContainer p {
  height: 0;
  overflow: hidden;
}

.tutorialStepContainer .swiper-slide-active p {
  height: auto;
}

.tutorialStepContainer .swiper-slide-active .partBackground {
  width: 100%;
  height: calc(100% - 40px);
  opacity: 1;
}

.tutorialStepContainer .partContainer img {
  width: 160px;
}

.tutorialStepContainer .videos {
  text-align: center;
}

.tutorialStepContainer .videos a {
  padding: 3px;
}

.tutorialStepContainer .partId {
  position: absolute;
  bottom: 8px;
  right: 10px;
  background: var(--black);
  color: var(--primary-color);
  padding: 3px;
  border: var(--primary-color) 2px solid;
  border-radius: 10px;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}