.tutorialStepContainer {
  padding: 20px 35px;
  width: calc(100% - 70px);
  overflow: auto;
}

@media (max-height: 800px) {
  .tutorialStepContainer {
    padding: 20px 0;
  }
}

@media (max-height: 1100px) {
  .tutorialStepContainer {
    height: auto;
  }
}

.tutorialStepContainer .tutorialStepDescription h2 {
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.tutorialStepContainer .tutorialStepDescription p {
  text-align: center;
}

.tutorialStepContainer .swiper-container {
  height: 500px;
  min-height: 500px;
  background: var(--black);
  border: var(--primary-color) 2px solid;
  border-radius: 16px;
  padding: 20px;
  overflow: hidden;
}

.tutorialStepContainer .partContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.tutorialStepContainer .partBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  transition: .6s;
  opacity: .5;
  background: var(--white);
  border: var(--primary-color) 2px solid;
  border-radius: 16px;
  position: relative;
  width: 60%;
  height: 60%;
}

.tutorialStepContainer .partContainer h3 {
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.tutorialStepContainer .partContainer p {
  height: 0;
  overflow: hidden;
}

.tutorialStepContainer .swiper-slide-active p {
  height: auto;
  overflow: auto;
}

.tutorialStepContainer .swiper-slide-active .partBackground {
  width: 100%;
  height: calc(100% - 40px);
  opacity: 1;
}

.tutorialStepContainer .partContainer img {
  width: 160px;
}

.tutorialStepContainer .videos {
  text-align: center;
}

.tutorialStepContainer .videos a {
  padding: 3px;
}

.tutorialStepContainer .partId {
  position: absolute;
  bottom: 8px;
  right: 10px;
  background: var(--black);
  color: var(--primary-color);
  padding: 3px;
  border: var(--primary-color) 2px solid;
  border-radius: 10px;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.videoContentMain {
  width: 100%;
  background: var(--black);
  border-radius: 15px;
  border: 2px solid var(--primary-color);
  margin-top: 20px;
}

.videoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: .5s;
}

.videoContent.active {
  padding: 20px 0;
  height: auto;
}

.videosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videosTitle {
  color: var(--primary-color);
  text-align: center;
  border-radius: 15px;
  padding: 15px 0;
  position: relative;
  cursor: pointer;
  margin: 0;
}

.videoArrow {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  right: 10px;
  transform: rotate(90deg);
  transition: .5s;
}

.videoArrow.active {
  transform: rotate(270deg);
}


/* MOBILE */

@media (max-width: 660px) {
  .tutorialStepContainer {
    padding: 20px 20px;
    width: calc(100% - 40px);
  }
  
  .tutorialStepContainer .swiper-container {
    width: calc(100% - 44px);
  }

  .tutorialStepContainer .swiper-slide-active .partBackground {
    width: calc(100% - 20px);
  }

  .tutorialStepContainer .partBackground {
    padding: 10px;
    width: 83%;
  }

  .tutorialStepContainer .swiper-slide-active p {
    text-align: center;
  }

  .videosTitle {
    padding-right: 30px;
  }
  
  .videoContent iframe {
    width: 90%;
    height: auto;
  }
}